main {
  position: relative;
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://lh3.googleusercontent.com/GLxMeYhoeF-5CB1Mf0c_41fdweKHbL71FBu_ABLcWrjyd_64ZtK7fqyZtadi6Cm6AD3JSWUv7cr6JCf6tVYNKSls=s1280-w1280-h800");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
  opacity: 0.5;
}
