<main class="flex items-center content-center">
  <div class="container">
    <div class="slider-wrapper">
      <div class="card-list">
        <div class="card-item">
          <img
            src="https://picsum.photos/200"
            alt="carimage"
            class="user-image"
          />
          <h2 class="user-name">James Wilson</h2>
          <p class="user-profession">Professione</p>
          <button class="message-button">Message</button>
        </div>
      </div>
    </div>
  </div>
</main>
