<main
  class="relative overflow-hidden flex items-center justify-center h-[calc(100vh-170px)]"
>
  <div class="slider-wrapper relative">
    <button class="carousel-button left-0" (click)="prevSlide()">
      &#10094;
    </button>
    <div #cardList class="card-list flex gap-10">
      <!-- INIzIO CARD -->
      <div class="card-item">
        <img src="https://picsum.photos/200" alt="carimage" class="car-image" />
        <h2 class="car-name">James Wilson</h2>
        <button class="discover-button">Message</button>
      </div>
      <!-- FINE CARD -->
    </div>
    <button class="carousel-button right-0" (click)="nextSlide()">
      &#10095;
    </button>
  </div>
</main>
