<main>
  <div>
    <h1 class="text-white font-bold bg-black py-1 px-2">Licensing</h1>
    <p
      class="p-5 max-w-[400px] md:max-w-[500px] bg-slate-600 bg-opacity-70 text-white"
    >
      Ho tutte le licenze di questo mondo, mi sono persino licenziato dal lavoro
      per averne una in più. Vuoi vederle? Clicca su
      <a
        class="text-sky-300 hover:text-sky-950 hover:underline"
        href="https://cdn.dribbble.com/users/680570/screenshots/2540610/media/119bdcdd6202e05428f88bc9daed6a65.png"
        >questo</a
      >
      link, potrai vederle tutte in ordine numerico e alfabetico.
    </p>
  </div>
</main>
